:root {
    --bg: #121212;
    --box: #1e1e1e;
    --text: white;
    --accent: #00e676;
}

.light {
    --bg: #e8e8e8;
    --box: white;
    --text: #222;
    --accent: #007bff;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background: var(--bg);
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: 0.3s;
}

.theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
}

#themeBtn {
    padding: 8px 15px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background: var(--accent);
    color: black;
    font-weight: bold;
}

.container {
    width: 350px;
    background: var(--box);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(255,255,255,0.1);
    transition: 0.3s;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Password box */
.result-box {
    display: flex;
    background: #2a2a2a;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.light .result-box {
    background: #ddd;
}

#result {
    flex: 1;
    background: transparent;
    border: none;
    font-size: 18px;
    color: var(--accent);
}

/* Copy Button */
#copyBtn {
    background: var(--accent);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

/* Strength Indicator */
.strength-box {
    margin-bottom: 15px;
}

#strengthIndicator {
    width: 100%;
    height: 10px;
    background: gray;
    border-radius: 5px;
    margin-top: 5px;
    transition: 0.4s;
}

/* Inputs */
.settings label {
    display: block;
    margin: 10px 0;
}

.settings input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 6px;
    border: none;
    background: #2b2b2b;
    color: white;
}

.light .settings input[type="number"] {
    background: #ccc;
    color: black;
}

/* Generate Button */
.generate {
    width: 100%;
    padding: 12px;
    background: var(--accent);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.generate:hover {
    opacity: 0.8;
}
